* {
    margin: 0;
    padding: 0;
    background-color: #030306;
    font-family: 'Comfortaa', cursive;
}

p {
    font-size: 1.25em;
}

.info {
    border: #d9dbff solid 1px;
    border-radius: 10px;
    height: 25em;
    width: 50em;
    position: relative;
    margin: 8em auto;
}

.info > p {
    color: #d9dbff;
    font-size: 1.25em;
    text-align: left;
    margin: 10px 0 0 10px;
}

.footer {
    display: flex;
    height: 60px;
    width: 100%;
    margin-top: 15px;
    align-content: center;
}

.title-text {
    color: #d9dbff;
    width: 80%;
    text-align: center;
    margin-right: 20%;
}

a.back-url {
    color: #d9dbff;
    text-decoration: none;
}

p.back-url {
    margin-left: 50px;
    width: 20%;
}