* {
    margin: 0;
    padding: 0;
    background-color: #030306;
    font-family: 'Comfortaa', cursive;
}

p {
    font-size: 20px;
}

li {
    list-style-type: disc;
    margin: 0 5px 5px 22px;
    padding: 5px 0 5px 0;
    border: 1px #d9dbff solid;
    border-radius: 3px;
}

a, a:link, a:visited {
    color: #d9dbff;
    text-decoration: #d9dbff underline;
}

a:hover, a:active {
    color: beige;
    text-decoration: #d9dbff underline;
}

.description {
    margin-left: 50px;
    font-size: 15px;
}

.title-text {
    color: #d9dbff;
    margin: 0;
    text-align: center;
}

.centering {
    position: relative;
    margin: auto;
}

.block-text {
    margin-left: 30px;

}

.block-title {
    margin-bottom: 7px;
}

.block {
    width: 800px;
    margin-top: 30px;
    color: #d9dbff;
}