* {
    margin: 0;
    padding: 0;
    background-color: #030306;
    font-family: 'Comfortaa', cursive;
}

p {
    font-size: 1.25em;
}

li {
    list-style-type: disc;
    margin: 0 5px 5px 22px;
    padding: 5px 0 5px 0;
    border: 1px #d9dbff solid;
    border-radius: 3px;
}

.github-url, .github-url:link, .github-url:visited {
    color: #d9dbff;
    text-decoration: #d9dbff underline;
}

.github-url:hover, .github-url:active {
    color: beige;
    text-decoration: #d9dbff underline;
}

.description {
    margin-left: 50px;
    font-size: 15px;
}

.footer {
    display: flex;
    height: 60px;
    width: 100%;
    margin-top: 15px;
    align-content: center;
}

a.about {
    color: #d9dbff;
    text-decoration: none;
}

p.about {
    margin-left: 50px;
    width: 20%;
}

.title-text {
    color: #d9dbff;
    width: 80%;
    text-align: center;
    margin-right: 20%;
}

.centering {
    position: relative;
    margin: auto;
}

.block-text {
    margin-left: 30px;
    font-size: 1.25em;

}

.block-title {
    margin-bottom: 7px;
}

.block {
    width: 800px;
    margin-top: 30px;
    color: #d9dbff;
}